/node_modules
/coverage
/dist
/cypress
.idea
.DS_Store
.env
.vscode

npm-debug.log*
.coveralls.yml
**/*/videos
tests/e2e/videos

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*